.card{
    background-color: rgb(228, 212, 212);
    min-width: 500px;
}
.card-header{
    color: red;
}
.card-body{
    color: rgb(252, 243, 243);
}
.custom-img{
    margin: 0 auto;
    border-radius: 28px;
}
.Box input[type="text"]{
    min-height: 60px;
    margin: 0 auto;
    max-width: max-content;
    min-width: 900px;
    border:1px solid blanchedalmond;
    font-size: 20px;
    border-radius: 15px;
}
.Box button{
    max-width: 100px;
}
.warn{
    display: flex;
    justify-content: end;
}
.custom-a{
    padding: 2px;
}
.custom-b{
    text-decoration: none;
}
.custom-cont{
    min-width:max-content;
}
